@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow: hidden; /* táº¯t scroll body */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .login-bg {
    position: relative;
    background-image: url('https://tse3.mm.bing.net/th/id/OIP.lxAO0eMBFUURmBT_aRL_IwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    background-position: center;
  }

 
}
